In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("20220123 Global Covid Data.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156546 entries, 0 to 156545
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    156546 non-null  object
 1   continent                                   147136 non-null  object
 2   location                                    156546 non-null  object
 3   date                                        156546 non-null  object
 4   total_cases                                 153714 non-null  float64
 5   new_cases                                   153649 non-null  float64
 6   new_cases_smoothed                          152498 non-null  float64
 7   total_deaths                                136289 non-null  float64
 8   new_deaths                                  136450 non-null  float64
 9   new_deaths_smoothed                         136318 non-null  float64
 10  total_cases_per_million                     152998 non-null  float64
 11  new_cases_per_million                       152933 non-null  float64
 12  new_cases_smoothed_per_million              151787 non-null  float64
 13  total_deaths_per_million                    135586 non-null  float64
 14  new_deaths_per_million                      135747 non-null  float64
 15  new_deaths_smoothed_per_million             135615 non-null  float64
 16  reproduction_rate                           117930 non-null  float64
 17  icu_patients                                21284 non-null   float64
 18  icu_patients_per_million                    21284 non-null   float64
 19  hosp_patients                               22509 non-null   float64
 20  hosp_patients_per_million                   22509 non-null   float64
 21  weekly_icu_admissions                       4353 non-null    float64
 22  weekly_icu_admissions_per_million           4353 non-null    float64
 23  weekly_hosp_admissions                      8804 non-null    float64
 24  weekly_hosp_admissions_per_million          8804 non-null    float64
 25  new_tests                                   62205 non-null   float64
 26  total_tests                                 63816 non-null   float64
 27  total_tests_per_thousand                    63816 non-null   float64
 28  new_tests_per_thousand                      62205 non-null   float64
 29  new_tests_smoothed                          77829 non-null   float64
 30  new_tests_smoothed_per_thousand             77115 non-null   float64
 31  positive_rate                               72800 non-null   float64
 32  tests_per_case                              72080 non-null   float64
 33  tests_units                                 79592 non-null   object
 34  total_vaccinations                          40986 non-null   float64
 35  people_vaccinated                           39054 non-null   float64
 36  people_fully_vaccinated                     36133 non-null   float64
 37  total_boosters                              13671 non-null   float64
 38  new_vaccinations                            34060 non-null   float64
 39  new_vaccinations_smoothed                   74992 non-null   float64
 40  total_vaccinations_per_hundred              40986 non-null   float64
 41  people_vaccinated_per_hundred               39054 non-null   float64
 42  people_fully_vaccinated_per_hundred         36133 non-null   float64
 43  total_boosters_per_hundred                  13671 non-null   float64
 44  new_vaccinations_smoothed_per_million       74992 non-null   float64
 45  new_people_vaccinated_smoothed              73962 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  73962 non-null   float64
 47  stringency_index                            122315 non-null  float64
 48  population                                  155513 non-null  float64
 49  population_density                          139354 non-null  float64
 50  median_age                                  129887 non-null  float64
 51  aged_65_older                               128477 non-null  float64
 52  aged_70_older                               129190 non-null  float64
 53  gdp_per_capita                              130476 non-null  float64
 54  extreme_poverty                             86001 non-null   float64
 55  cardiovasc_death_rate                       128876 non-null  float64
 56  diabetes_prevalence                         135627 non-null  float64
 57  female_smokers                              99954 non-null   float64
 58  male_smokers                                98518 non-null   float64
 59  handwashing_facilities                      64552 non-null   float64
 60  hospital_beds_per_thousand                  116560 non-null  float64
 61  life_expectancy                             146118 non-null  float64
 62  human_development_index                     128351 non-null  float64
 63  excess_mortality_cumulative_absolute        5338 non-null    float64
 64  excess_mortality_cumulative                 5338 non-null    float64
 65  excess_mortality                            5338 non-null    float64
 66  excess_mortality_cumulative_per_million     5338 non-null    float64
dtypes: float64(62), object(5)
memory usage: 80.0+ MB

In [6]:
data_required = ["location", "date", "new_cases_smoothed", "new_deaths_smoothed", "new_cases_smoothed_per_million", "new_deaths_smoothed_per_million", "icu_patients_per_million", "hosp_patients_per_million", "weekly_icu_admissions_per_million", "weekly_hosp_admissions_per_million", "new_tests_smoothed_per_thousand", "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred", "new_vaccinations_smoothed_per_million", "stringency_index", "population"]
df = df[data_required]
df.head()

,location,date,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population
0,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0
1,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0
2,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0
3,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0
4,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0

In [7]:
countries = ["United Kingdom", "Denmark", "Singapore", "Malaysia", "United States", "South Africa"]
df = df[df.location.isin(countries)]
df.head()

,location,date,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population
38169,Denmark,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5813302.0
38170,Denmark,2020-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5813302.0
38171,Denmark,2020-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5813302.0
38172,Denmark,2020-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5813302.0
38173,Denmark,2020-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5813302.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4353 entries, 38169 to 148719
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   location                               4353 non-null   object
 1   date                                   4353 non-null   object
 2   new_cases_smoothed                     4268 non-null   float64
 3   new_deaths_smoothed                    4077 non-null   float64
 4   new_cases_smoothed_per_million         4268 non-null   float64
 5   new_deaths_smoothed_per_million        4077 non-null   float64
 6   icu_patients_per_million               3249 non-null   float64
 7   hosp_patients_per_million              3193 non-null   float64
 8   weekly_icu_admissions_per_million      0 non-null      float64
 9   weekly_hosp_admissions_per_million     2641 non-null   float64
 10  new_tests_smoothed_per_thousand        4113 non-null   float64
 11  people_fully_vaccinated_per_hundred    2055 non-null   float64
 12  total_boosters_per_hundred             845 non-null    float64
 13  new_vaccinations_smoothed_per_million  2248 non-null   float64
 14  stringency_index                       4302 non-null   float64
 15  population                             4353 non-null   float64
dtypes: float64(14), object(2)
memory usage: 578.1+ KB

In [9]:
df_uk = df[(df.date > "2021-04-30") & (df.location == "United Kingdom")]
df_malaysia = df[(df.date > "2021-04-30") & (df.location == "Malaysia")]
df_singapore = df[(df.date > "2021-04-30") & (df.location == "Singapore")]
df_denmark = df[(df.date > "2021-04-30") & (df.location == "Denmark")]
df_southafrica = df[(df.date > "2021-04-30") & (df.location == "South Africa")]
df_us = df[(df.date > "2021-04-30") & (df.location == "United States")]

In [10]:
frames = [df_uk, df_malaysia, df_singapore, df_denmark, df_southafrica, df_us]
country = ["uk", "malaysia", "singapore", "denmark", "southafrica", "us"]
i = 0
for frame in frames:
    frame.to_csv(country[i] + ".csv")
    i+=1

In [9]:
from datetime import date, timedelta

df_uk = df_uk.set_index("date")

sdate = date(2021,9,1)
edate = date(2021,11,30)
period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_uk.drop(labels=period, axis=0, inplace=True)

df_uk["wave"] = "delta"
sdate = date(2021,12,1)
edate = date.today() - timedelta(days=1)

period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_uk.at[period, "wave"] = "omicron"

df_uk.reset_index(inplace=True)
df_uk.head()

,date,location,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,2021-06-01,United Kingdom,3304.143,6.143,48.443,0.090,1.994,13.635,NaN,13.224,11.442,38.23,NaN,7674.0,62.50,68207114.0,delta
1,2021-06-02,United Kingdom,3486.143,6.571,51.111,0.096,1.891,14.089,NaN,13.210,10.864,38.74,NaN,7377.0,62.50,68207114.0,delta
2,2021-06-03,United Kingdom,3743.143,7.714,54.879,0.113,1.965,13.752,NaN,13.268,10.473,39.29,NaN,7122.0,62.50,68207114.0,delta
3,2021-06-04,United Kingdom,4044.857,7.857,59.303,0.115,1.906,14.148,NaN,13.019,10.445,39.86,NaN,6970.0,62.50,68207114.0,delta
4,2021-06-05,United Kingdom,4389.286,8.714,64.352,0.128,1.979,13.752,NaN,13.371,10.456,40.55,NaN,7127.0,51.39,68207114.0,delta

In [10]:
df_denmark = df_denmark.set_index("date")

sdate = date(2021,9,16)
edate = date(2021,11,30)
period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
#period
df_denmark.drop(labels=period, axis=0, inplace=True)

df_denmark["wave"] = "delta"
sdate = date(2021,12,1)
edate = date.today() - timedelta(days=1)

period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_denmark.at[period, "wave"] = "omicron"

df_denmark.reset_index(inplace=True)
df_denmark.head()

,date,location,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,2021-07-01,Denmark,257.143,0.571,44.234,0.098,2.064,8.945,NaN,6.881,14.262,33.87,0.0,10395.0,50.00,5813302.0,delta
1,2021-07-02,Denmark,272.000,0.714,46.789,0.123,1.892,8.257,NaN,6.709,14.840,34.63,0.0,10448.0,47.22,5813302.0,delta
2,2021-07-03,Denmark,308.000,0.857,52.982,0.147,1.720,7.397,NaN,6.365,15.243,35.19,0.0,10520.0,47.22,5813302.0,delta
3,2021-07-04,Denmark,339.143,0.714,58.339,0.123,1.548,6.709,NaN,6.365,15.629,35.69,0.0,10571.0,47.22,5813302.0,delta
4,2021-07-05,Denmark,365.714,0.571,62.910,0.098,1.548,6.881,NaN,7.569,16.007,36.43,0.0,10844.0,47.22,5813302.0,delta

In [11]:
df_singapore = df_singapore.set_index("date")

sdate = date(2021,12,2)
edate = date(2021,12,25)
period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
#period
df_singapore.drop(labels=period, axis=0, inplace=True)

df_singapore["wave"] = "delta"
sdate = date(2021,12,26)
edate = date.today() - timedelta(days=1)

period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_singapore.at[period, "wave"] = "omicron"

df_singapore.reset_index(inplace=True)
df_singapore.head()

,date,location,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,2021-09-01,Singapore,141.143,0.429,25.881,0.079,0.917,90.582,NaN,NaN,11.308,78.40,NaN,2594.0,47.22,5453600.0,delta
1,2021-09-02,Singapore,151.857,0.429,27.845,0.079,0.917,95.900,NaN,NaN,11.271,78.55,NaN,2564.0,47.22,5453600.0,delta
2,2021-09-03,Singapore,183.143,0.429,33.582,0.079,0.917,105.435,NaN,NaN,11.234,78.79,NaN,2524.0,47.22,5453600.0,delta
3,2021-09-04,Singapore,185.429,0.000,34.001,0.000,0.917,110.569,NaN,NaN,11.198,79.04,NaN,2537.0,47.22,5453600.0,delta
4,2021-09-05,Singapore,212.714,0.000,39.004,0.000,0.917,118.821,NaN,NaN,11.161,79.21,NaN,2559.0,47.22,5453600.0,delta

In [12]:
df_southafrica = df_southafrica.set_index("date")

sdate = date(2021,10,1)
edate = date(2021,11,21)
period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
#period
df_southafrica.drop(labels=period, axis=0, inplace=True)

df_southafrica["wave"] = "delta"
sdate = date(2021,11,22)
edate = date.today() - timedelta(days=1)

period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_southafrica.at[period, "wave"] = "omicron"

df_southafrica.reset_index(inplace=True)
df_southafrica.head()

,date,location,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,2021-05-01,South Africa,1210.286,40.143,20.157,0.669,NaN,NaN,NaN,37.407,0.415,0.53,NaN,52.0,50.93,60041996.0,delta
1,2021-05-02,South Africa,1227.571,38.429,20.445,0.640,NaN,NaN,NaN,NaN,0.400,NaN,NaN,64.0,50.93,60041996.0,delta
2,2021-05-03,South Africa,1234.429,38.000,20.559,0.633,NaN,NaN,NaN,NaN,0.404,0.55,NaN,75.0,43.52,60041996.0,delta
3,2021-05-04,South Africa,1278.286,39.143,21.290,0.652,NaN,NaN,NaN,NaN,0.410,0.59,NaN,132.0,43.52,60041996.0,delta
4,2021-05-05,South Africa,1395.857,38.857,23.248,0.647,NaN,NaN,NaN,NaN,0.436,0.61,NaN,162.0,43.52,60041996.0,delta

In [13]:
df_us = df_us.set_index("date")

sdate = date(2021,11,1)
edate = date(2021,12,13)
period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
#period
df_us.drop(labels=period, axis=0, inplace=True)

df_us["wave"] = "delta"
sdate = date(2021,12,14)
edate = date.today() - timedelta(days=1)

period = pd.date_range(sdate,edate,freq='d').strftime('%Y-%m-%d').tolist()
df_us.at[period, "wave"] = "omicron"

df_us.reset_index(inplace=True)
df_us.head()

,date,location,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,2021-07-01,United States,12726.429,260.000,38.227,0.781,10.856,38.637,NaN,41.680,1.742,48.67,NaN,1695.0,61.57,332915074.0,delta
1,2021-07-02,United States,13484.000,247.429,40.503,0.743,12.096,39.752,NaN,42.936,1.712,48.77,NaN,1632.0,61.57,332915074.0,delta
2,2021-07-03,United States,12888.857,237.429,38.715,0.713,11.273,38.797,NaN,43.428,1.693,48.82,NaN,1572.0,61.57,332915074.0,delta
3,2021-07-04,United States,12828.000,232.857,38.532,0.699,11.345,39.412,NaN,43.786,1.660,48.83,NaN,1479.0,61.57,332915074.0,delta
4,2021-07-05,United States,12122.286,229.714,36.413,0.690,11.664,40.350,NaN,44.327,1.556,48.89,NaN,1412.0,61.57,332915074.0,delta

In [14]:
df_malaysia = df_malaysia[df_malaysia.date < "2021-11-01"]
df_malaysia["wave"] = "delta"
df_malaysia.reset_index(inplace=True)
df_malaysia.head()

,index,location,date,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,weekly_icu_admissions_per_million,weekly_hosp_admissions_per_million,new_tests_smoothed_per_thousand,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,wave
0,88140,Malaysia,2021-05-01,3048.857,13.571,93.020,0.414,13.302,94.550,NaN,181.748,2.311,1.72,NaN,716.0,65.28,32776195.0,delta
1,88141,Malaysia,2021-05-02,3152.857,13.857,96.194,0.423,13.485,99.157,NaN,196.118,2.305,1.74,NaN,720.0,65.28,32776195.0,delta
2,88142,Malaysia,2021-05-03,3113.429,14.571,94.991,0.445,13.790,104.008,NaN,196.637,2.321,1.83,NaN,812.0,65.28,32776195.0,delta
3,88143,Malaysia,2021-05-04,3168.714,16.000,96.677,0.488,13.485,104.893,NaN,199.505,2.353,1.89,NaN,878.0,65.28,32776195.0,delta
4,88144,Malaysia,2021-05-05,3254.714,16.286,99.301,0.497,13.821,112.826,NaN,204.844,2.379,1.96,NaN,944.0,65.28,32776195.0,delta

In [15]:
frames = [df_us, df_uk, df_denmark, df_singapore, df_malaysia, df_southafrica]
combined = pd.concat(frames)
combined.to_csv("cleaned_data.csv")